@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

body{

margin: 0;
padding: 0;
box-sizing: border-box;
}

#FirstImg{
height: 380px;
width: auto;
border: 10px solid #f0f8ff;
margin-left: auto;
display: block;
border-width: 3px;
border-radius: 6px;
}
#who{
font-family: Tajawal;
color: #f0f8ff;
}
#txt{
    display: flex;
    flex: 1;
    justify-content: center;
}
#flex{
    display: flex;
    flex-direction: row-reverse;
    background-color: #000b76;
    align-items: center;
    padding: 35px;
    gap: 15px;
}
#breif{
    font-family: Tajawal;
    font-size: x-large;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: auto;
    direction: rtl;
    background-color: #f0f8ff;
    max-width: 900px;
    border: #000b76 solid 4.5px;
}
#who_is_that{
    font-size: x-large;
    font-family: Tajawal;
    text-align: center;
}
#brief_content{
    text-align: justify;
    padding-left:20px ;
    padding-right:20px;
}
.emoji::after{
content: "🤷‍♂️";
margin-right: 10px;
}

#container{

background-color:#f0f8ff ;
border: #000b76 solid 4.5px;
direction: rtl;
font-family: Tajawal;
font-size: x-large;
overflow: hidden;
max-width: 1050px;
margin-left: auto;
margin-right: auto;

}
#tittle_container{
    text-align: center;
    font-size: x-large;
}
#second_container{
    
padding-left: 20px;
padding-right: 20px;
line-height: 1.35;
text-align: justify;
text-justify: inter-word;
}

#first_container{
    float: right;
    height: 350px;
    width: auto;
    border-bottom: #000b76 solid;
    border-left: #000b76 solid;
    margin-top: -1px;
    margin-left: 10px;
}
.emoji2::after{
    content: "🤲";
margin-right: 10px;
}
#first_container2{
    float: right;
    height: 350px;
    width: auto;
    border-bottom: #000b76 solid;
    border-left: #000b76 solid;
    margin-top: -1px;
    margin-left: 10px;
}
#container2{
background-color:#f0f8ff ;
border: #000b76 solid 4.5px;
direction: rtl;
font-family: Tajawal;
font-size: x-large;
overflow: hidden;
max-width: 1050px;
margin-left: auto;
margin-right: auto;
}

.emoji3::after{
    content: "✨";
margin-right: 10px;
}
#footer{
    direction: rtl;
    font-family: Tajawal;
    background-color: #000b76;
    color: #f0f8ff;
    margin-top: -5px;
    width: 100%;
    display: block;
}
a:hover{
    color: rgb(228, 144, 144);
    font-size: small;
}
.URL{
    font-family: sans-serif;
    padding-right: 10px;
    text-decoration: none;
    color: #f0f8ff;
}

.Wave{
    width: 100%;
    height: auto;
    display: block;
}