@import url('https://fonts.googleapis.com/css2?family=Libertinus+Math&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500;700&display=swap');
.container{
    display: flex;
    justify-content:center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

body{
    overflow: hidden;
}

.Box{

height: 550px;
width: 500px;
min-width: 400px;
min-height: 500px;

}

#left{
    margin-left: 20px;
    margin-right: 50px;
    background-color:#020281;
    border-radius: 15px;
    text-align: center;
}

#right{
    margin-left: 20px;
    margin-right: 50px;
    background-color: #2083c1;
    border-radius: 15px;
    text-align: center;
}
#Title_Text{
    padding: 20px;
    font-size: x-large;
    font-family: Tajawal;
    color:rgb(255, 255, 255)
}
#icons{
    font-size: 150%;
    display: flex;
    justify-content: right;
    margin-right: 15px;
}
.trash{
    font-size: 160%;
    background-color: #020281;
    border: #020281;
    color:white
}
.add{
    font-size: 180%;
    background-color: #020281;
    border: #020281;
    color:white;
    margin-right: 10px;
    margin-top: -4px;
}
.add:hover{
    color:rgb(180, 180, 180)
}
.trash:hover{
   color:rgb(180, 180, 180)
}
.trash2{
    font-size: 160%;
    background-color: #2083c1;
    border: #2083c1;
    color:white
}
.trash2:hover{
    color:rgb(180, 180, 180)
}

#First_List{
    justify-content: left;
    text-align: left;
    margin: 10px;
    overflow-y: auto;
    max-height: 400px;
    width: 102%;

}
#Second_List{
    justify-content: left;
    text-align: left;
    margin: 10px;
    overflow-y: auto;
    max-height: 400px;
    width: 102%;
}
.Checkit{
width: 16px;
height: 16px;
color: rgb(180, 180, 180);
}
.Label{
    font-size: 140%;
    color:white;   
    font-family: 'Nunito', sans-serif;
    overflow-wrap: break-word;
    overflow: hidden;
}
.Task{
    display: flex;
    justify-content: space-between;
}
.deletetask{
    font-size: 106%;
    background-color:rgb(226, 43, 43);
    border: solid black;
    width: 30px;
    flex-shrink: 0;
    margin-right: 25px;
}
.deletetask:hover{
    font-size: 100%;
}
.updateName{
    font-size: 90%;
    background-color:rgb(57, 187, 74);
    border: solid black;
    width: 30px;
    flex-shrink: 0;
}
.updateName:hover{
    font-size: 85%;
}
